body {
  background: url(background2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: rgb(227, 106, 76);
  font-family: 'Signika', sans-serif;
  font-size: 3em;
  margin: 0;
  /*padding: 0 1%;
  text-align: right;*/
}

h3 {
  font-size: 1.5em;
  color: #FFF;
}

nav {
  top: 6em;
  color: #fff;
  font-size: 1.5em;

}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

a {
  color: #000;
}

a:hover {
  color: rgba(135, 230, 172, 0.7);
}

p, ul {
  font-size: 1.25em;
}

header {
  background-color: rgba(34, 34, 34, 0.8);
  border-right: 1em solid rgba(135, 230, 172, 0.7);
  border-radius: 0 0 0 40px;
  padding: 1.5%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: 25%;
}

header h1 {
  top: 0;
  font-size: 4em;
  z-index: 3;
}

section {
  background-color: rgba(135, 230, 172, 0.7);
  border-radius: 0 40px 0 0;
  border-left: 1em solid rgba(34,34,34,0.7);
  padding: 4em 1em 1em 2em;
  margin: 5% 35% 5% 0;
}

.column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  list-style-type: none;
}

.column li {
  margin-bottom: 0.75em;
}

@media (max-width:600px) {
section {
  margin: 5% 0;
  padding: 2%;
  border-radius: 0;
}
header h1 {
  position: relative;
  width: auto;
  padding: 0.2em;
  border-radius: 0;
  font-size: 3em;
}

nav {
  position: relative;
  visibility: visible;
  opacity: 1;
  width: auto;
  top: 0;
  font-size: 1em;
  height: 5em;
}
nav ul li {
  float: left;
  width: 33%;
  text-align: center;
}

h2 {
  text-align: left;
}
 
header {
  overflow: auto;
}

.column {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}
}