body {
  background: url(background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: rgb(227, 106, 76);
  font-family: 'Signika', sans-serif;
  font-size: 3em;
  margin: 0;
  /*padding: 0 1%;
  text-align: right;*/
}

h3 {
  font-size: 1.5em;
  color: #FFF;
}

nav {
  top: 6em;
  color: #fff;
  font-size: 1.5em;

}

nav ul li {
  list-style-type: none;
    margin-bottom: 0.5em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

a {
  color: #000;
}

a:hover {
  color: rgba(135, 230, 172, 0.7);
}

p, ul {
  font-size: 1.25em;
}

header {
  background-color: rgba(34, 34, 34, 0.8);
  border-right: 1em solid rgba(135, 230, 172, 0.7);
  border-radius: 0 0 0 40px;
  padding: 1.5%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: 25%;
  z-index: 3;
}

header h1 {
  top: 0;
  font-size: 4em;
  /*z-index: 3;*/
}

section {
  background-color: rgba(135, 230, 172, 0.7);
  border-radius: 0 40px 0 0;
  border-left: 1em solid rgba(34,34,34,0.7);
  padding: 4em 1em 1em 2em;
  margin: 5% 35% 5% 0;
}

.column {
  -moz-columns: 2 150px;
  -webkit-columns: 2 150px;
  columns: 2 150px;
  list-style-type: none;
    padding: 0;
}

.column li {
  /*margin-bottom: 0.75em;*/
    padding: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

#slides {
  display: none;
  position:relative;
  z-index: 0;
}

/* Center the slideshow */
.container {
  margin: 0 auto;
  z-index: 1;
}
#slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

@media (max-width:768px) {
section {
  margin: 5% 0;
  padding: 2%;
  border-radius: 0;
    border: 0;
}

    section:first-of-type {
        margin-top: 200px;
    }
header {
  position: fixed;
    top:0;
    border: 0;
  width: 100%;
    margin: 0;
  padding: 0.5em;
  border-radius: 0;
  font-size: 1em;
}

nav {
  position: relative;
  visibility: visible;
  opacity: 1;
  width: 100%;
    text-align: center;
  top: 0;
  font-size: 1em;
  height: 2em;
    padding-bottom: 0;
}
nav ul li {
  float: left;
  width: 25%;
  text-align: center;
}

h2 {
  text-align: left;
}

header {
  overflow: auto;
}

.column {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

.column li {
    margin-bottom: 0.75em;
}

    body {
        padding-left: 10px;
        padding-right: 10px;
      }
  .container {
        width: auto
    }
}

@media (max-width:480px){
    section:first-of-type {
        margin-top: 160px;
    }
    header h1 {
        font-size: 2.5em;
    }
    h1, h2, h3 {
        font-size: 2em;
    }
   .container {
       width: auto
    }

}
