<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" type="text/css" href="FFRC-home.css" />
    <link href="https://fonts.googleapis.com/css?family=Actor|Coustard" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet">

  <body>
    

<!--@media (max-width:600px) {
  main {
    font-size: 2em;
    padding: 1em;
    max-width: none;
  -->
<center>
<h1>Healthy Starts <br /> Call: 303-386-2915 for Assistance</h1><br />
<h2>Healthy Babies, Strong Families<h2>

<p>Recognizing that African American families experience exponentially higher rates of infant mortality that any other culture, Families Forward Resource Center has expanded our programming to include Healthy Start. Healthy Start aims to provide families with access to resources to ensure African American babies and families are healthy and thriving.  Participants are assigned an advocate who work with families to provide resource referrals, assistance in accessing health care, parenting education and support, and family advocacy.</p>
<img src="h1.jpg" alt="FFRC logo" width="500" />
<img src="h2.jpg" alt="FFRC logo" width="500" />
<img src="h3.jpg" alt="FFRC logo" width="500" />
<img src="download.jpg" alt="FFRC logo" width="500" />


</center>
</head>
</body>
</html>