<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" type="text/css" href="FFRC-home.css" />
    <link href="https://fonts.googleapis.com/css?family=Actor|Coustard" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet">
</head>
  <body>
    

@media (max-width:600px) {
  main {
    font-size: 2em;
    padding: 1em;
    max-width: none;
  
<center>
<h1>Parent Education</h1>
<br />
<img src="dreamstime.jpg" alt="girl smilings" height="450" width="450" id="agirl"/>
</center>

<center>
<p align="right">
<h2>Financial Literacy</h2>

In collaboration with Denver Community Credit Union, FFRC is offering financial literacy courses for intrigued individuals.  Come learn how to better manage your finances by joining us for the following series of courses:  (to sign up please e-mail latoya@familiesforwardrc.org Classes will be held at FFRC's Z Place office: 4800 Telluride St. Building 5)<br />


CLASSES CLOSED FOR NOW
</p>

<p><h2>Families Forward Resource Center</h2>

Learning tools for positive parenting, whether you're a biological parent, foster parent, adoptive parent or parent through kinship, can help families stay strong.
<br />
<h2>Nurturing Parenting Program</h2>

Participating families learn about developmental milestones, discipline techniques, the importance of bonding and attachment, and many other valuable parenting skills.  Classes also emphasize the value of peer support and encourage parents to remain in contact with each other after the class is concluded.  FFRC teaches the 40-hour curriculum over 16 weeks in both English and Spanish, and currently runs at least two different classes each week.  Food and childcare, as well as materials, are all provided to participants at no charge.  Over 40 families participate in the program each year.

<h2>Couples Communication</h2>

After many years of offering couples' communication classes with FFRC staff, we now partner with Goodwill Industries to provide the class at FFRC once each month.  FFRC provides a female trainer and Goodwill provides a male trainer, and Goodwill also provides materials and food for participants.

<h2>Today's Fathers Program</h2>

Fathers that participate in the program have individual family development support from a dedicated fatherhood advocate, participates in on-going classes and training using different evidence-based fatherhood curricula, and has peer support from relationships they develop with other fathers in the program.

FFRC helps fathers identify and overcome barriers to maintaining positive and active roles in their children's lives. The Today's Fathers Program teaches men to be better fathers through fatherhood training classes.<br />

<br /><strong>To speak with FFRC's fatherhood coordinator, Ron Allen, please visit our Montbello site ( 4725 Paris St. Suite 300 Denver, 80239) During these hours:
Monday- Thursday: 9-2pm
Friday: 9am-12pm, 3pm-5pm

Please contact Ron Allen for any questions:

Fatherhood Coordinator
RON ALLEN
720-979-5482
ron@familiesforwardrc.org</strong></p>
}

</center>
</body>
</html>