.feed{
    float: right;
    position: relative;
    background-color: gray;
    border-color: black;
    z-index: -1;
    list-style-type: none;
    box-shadow: 1em 1em 5em black;
    width: 40%;
    margin-top: 0.8em;
}
.sm {
    float: right;
    list-style-type: none;
    background-color: #BABABA;
    width: 15%;
    padding: 1em;
}

.header{
    background-color: #2b2b2b;
    
    
}
h1{
    font-size: 60px;
}

h1, h2{
    color: white;
    
}



body{
  margin: 0;
  background-color: #2B2B2B;
}

nav{
  margin: 0;
  padding: 0;
  
    
}

.navbar{
  width:105%;
  padding:0;
  text-align:center;
  margin: 0px;
  list-style: none;
}
.navbar li{
  float: left;
  background-color:#EB1676;
  width:16.8%;
  margin:0;
  padding: 20px;
}
/*li:first-child {
  margin-left:;
}*/
li:nth-child(2) {
  background-color:#6EBF4B;
}
li:nth-child(3) {
  background-color:#F68D29;
}
li:nth-child(4) {
  background-color:#00A7E1;
}
li:nth-child(5) {
  background-color:#7774B6;
}
li {
  font-size:19.5px;
}

nav ul li:hover{
  background-color:yellow;
  color:#00A7E1;
  display:block;
  transition: all .6s;
}
nav ul li:active{
  
  box-shadow: 1em 1em 5em white;
  
}
.text{
    font-family: 'Merriweather', serif;
    font size: 18;
    background-color: white;
  color: black; 

  padding: 1em;
  width: 55%;  
box-shadow: 1em 1em 5em black;
margin-top: 6em;
    
}
h3{
    text-align: center;
}
.texting{
    font-family: 'Merriweather', serif;
    font size: 18;
    background-color: white;
  color: black; 

  padding: 1em;
  width: 90%;  
box-shadow: 1em 1em 5em black;
margin-top: 6em;
}
a {
    text-decoration: none;
    color: black;
}