body{
  height:100%;

}

.paragraphs {
  text-align: center;
  font-family: 'Slabo 27px', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h1, h2, h4{
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:bolder;

}
#Plexus{
  text-align:center;
  color:#008B8B;
}
