#map-wrapper {
  float:right;
  font-size:50px;
}

#map {
  width:400px;
  height:300px;
  border:#0E0A70 4px solid;
  background-image:URL(https://docs.google.com/uc?id=0BzXQ7Jj7kz0aOWFLd3RadllTaG8);
  background-position: 676px -191px;
  }


.center-text{
  text-align:center
}

#plexus{
  font-family: 'Raleway', sans-serif;
  color:#008B8B;
}

nav ul li {
  font-family: 'Slabo 27px', serif;
}
h2, h3{
  font-family: 'Raleway', sans-serif;
}
#TFCU{
  font-size:68px;
  font-family:'Raleway', sans-serif;
}
  