h1, h2, h4 {
  text-align: center;
  font-family: 'Raleway', serif;
  font-weight: bolder;
}

#PLEXUS {
  color: #008B8B;
}

.paragraphs {
  text-align: center;
  font-family: 'Slabo 27px', sans-serif;
  font-weight: bold;
  font-size: 20px;
}



  
 








