/*3headingstyle css*/
.nav_wrapper{
  text-align:center;
  height:auto;
}

.navigation{
  width:90%;
  margin-left:auto; margin-right:auto;
  text-align:left;
  height:auto;
}
.sub_nav{
  display:none;
  height:auto;
  background-color: white;
  max-width:200px;
}

.navpWrapper:hover .sub_nav{
  display:block;
  height:auto;
}
.navp{
  font-size:20px;
  height:auto;
}

.navpWrapper{
  float:left;
  margin-right:20px;
  width:200px;
}

a, a:visited{
  color:black;
  font-weight:600;
}

.black {
  color:black;
  font-size:29px;
}

html{
  border-style: solid;
  border-color: #34949E;
  border-width: 6em;
}






/*family advocacy css*/

p { font-size: 2em;
}

.big{
  font-size:2em;
}

p {font-family:Playfair Display ;}
p {
    /*background-color: rgb(128, 225, 255);*/
    color: rgb(128, 225, 255);
}
    

h1,h2,h3,h4,h5 {
    background-color:#7DCBD4;
    width: 50%;
    font-size: 30px;
}
    body {
        background-color:white;
    }
    
.blue{
  color:black;
  font-size:2em;
}

.pic{
  width:100%;
  clear:both;
  height:auto;
  overflow:hidden;
}

.toppic{
  float:right;
  height:270px;
  width:50%;
}

.logo{
  float:left;
  
  height:270px;
  width:50%;
}

#content{
  width:100%;
  float:left;
    clear:both;
  height:auto;
  overflow:hidden;
}

/*homepage css*/
.nav_wrapper{
  text-align:center;
  height:auto;
  float: left;
  width: 100%;
  overflow: show;
  
}

.navigation{
  width:90%;
  margin-left:auto; margin-right:auto;
  text-align:left;
  height:auto;
  overflow: show;
}
.sub_nav{
  display:none;
  height:auto;
  background-color: white;
  max-width:200px;
}

.navpWrapper:hover .sub_nav{
  display:block;
  height:auto;
  
  
}
.navp{
  font-size:20px;
  height:auto;
}

.navpWrapper{
  float:left;
  margin-right:20px;
  width:200px;
  text-align: center;
}

a, a:visited{
  color:black;
  font-weight:600;
}

.black {
  color:black;
  font-size:29px;
}

html{
  border-style: solid;
  border-color: #34949E;
  border-width: 6em;
}

a{
  text-decoration: none;
  font-weight: 100;
}

.fb1{
  line-height: 40px;
  font-size: 20px;
  background-color:white;
  width: 100%;
  float: left;
  font-weight: 400;
  box-shadow: inset 10px 5px 8px #7DCBD4;
  padding: 5px 5px 5px 30px;
}

h1 {
  font-weight: 900;
  text-decoration: underline;
}



/*project final css*/
.fb1 {
  float:left;
  background-color: white;
  margin: 5px 2px 5px 2px ;
  padding: 62px 30px 642px 30px;
  box-shadow: inset 10px 5px 8px #7DCBD4;
  width:30%;
  text-align: left;
  font-size: 20px;


}

.fb2{
  float: right;
  background-color:white;
  margin: 5px 10px 5px 10px;
  padding: 63px 110px 63px 110px;
  box-shadow: inset 10px 5px 8px #7DCBD4;
  width:42%;
  text-align: left;
  height: 530px;
  font-size: 20px;

}

.fb3{
  float:right;
  background-color: white;
  margin: 5px 10px 5px 10px;
  padding: 30px 110px 30px 110px;
  box-shadow: inset 10px 5px 8px #7DCBD4;
  width:42%;
  text-align: left;
  font-size: 20px;

  
}

html{
  border-style: solid;
  border-color: #34949E;
  border-width: 7em;
}

.nav_wrapper{
  text-align:center;
  height:auto;
  float: left;
  width: 100%;
  overflow: show;
  
}

.navigation{
  width:90%;
  margin-left:auto; margin-right:auto;
  text-align:left;
  height:auto;
  overflow: show;
}
.sub_nav{
  display:none;
  height:auto;
  background-color: white;
  max-width:200px;
}

.navpWrapper:hover .sub_nav{
  display:block;
  height:auto;
  
  
}
.navp{
  font-size:20px;
  height:auto;
}

.navpWrapper{
  float:left;
  margin-right:20px;
  width:200px;
  text-align: center;
}

a, a:visited{
  color:black;
  font-weight:600;
}

.black {
  color:black;
  font-size:29px;
}

html{
  border-style: solid;
  border-color: #34949E;
  border-width: 6em;
}

a{
  text-decoration: none;
  font-weight: 100;
}
