@import url('https://fonts.googleapis.com/css?family=Coustard');


.logo{
  text-align:center;
  margin:0;
}

body {
  margin: 10% 5%;
  font-family: 'Actor', sans-serif;


}

h1{
  text-align:center;
  margin:5% auto;
  padding:1% 1%;
  border-radius: 0 0 0 0;
  box-shadow: 10px 0px 8px grey;
  background-color: rgb(92,109,219);
  font-family: 'Actor', sans-serif;
  font-weight: 100;
  font-size:1.75em;
}

h2 {
  font-family: 'Coustard', serif;
  /*text-align: left;*/
}


.vol {

  padding: 20px;
}

nav table {
  width: 100;
  margin: auto;
  border: 0;
}


.dropbtn {
    background-color: white;
    color: rgb(92,109,219);
    padding: 16px;
    font-size: 16px;
    font-family: 'Coustard', serif;
    border: none;
    cursor: pointer;
    width: 180px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #e1e1e1}


.dropdown:hover .dropdown-content {
    display: block;
}

  <body>
<center>
  <br />
<h1>Far Northeast Health Alliance<br /></h1>
<h2>Working Together to Support Community Wellness for All</h2>
<img src="FNE-logo.jpg"/>
<br /><h3>Health:</h3> <p>Embodies wellness in all its dimensions: emotional, environmental, financial, intellectual, occupational, physical, social, and spiritual.</p>

  <h3>Vision:</h3> <p>A far northeast Denver community that is a healthy, safe, and flourishing environment for all people.</p>

<h3>Mission:</h3> <p>To be a community-driven effort that promotes health and wellness in far northeast communities through resource sharing, health education, and resident mobilization.</p><br />

<h1>Current Priorities</h1><br />

<h3>Diabetes Prevention Program (partner)</h3>

A year-long lifestyle intervention program delivered in partnership with the Montbello Branch Library

<h3>Healthy Babies, Strong Families (leverage resources & build capacity)</h3>

A Healthy Start Program that combines service delivery and collective impact to reduce infant mortality among African Americans

<h3>Healthy>Transportation Expansion Working Group (engage, mobilize, & advocate)</h3>

A community-driven effort dedicated to the development of equitable and accessible transit options

<h3>Healthy>Planting the Seed Conference (educate & raise awareness)</h3>

A Young Adults for Positive Action-sponsored community gathering that includes healthy living sessions designed to educate, raise awareness, and catalyze action

<h3>Healthy>Quality of Life Survey (value strengths & wisdom)</h3>

A means for gathering residents input to inform strategic planning and program development}
<br />
<br />
<img src="FNE-actions.jpg"/>


</center>
</body>
</html>


