h3 {
    font-family: 'Lato', sans-serif;
}
h4 {
    font-family: 'Lato', sans-serif;
}
.box {
    border:3px solid black;
    width:200px;
}
.other_box {
    border:3px solid black;
    width:200px;
}
.beekeeper {
    margin:0 auto 100px 300px;
    float:top;
}
h1, h2 {
    text-align:center;
    
}
.frame {
    border:3px solid black;
    width:500px;
    display: block;
    margin: 0 auto 100px auto;
    float:text-outline: ;p;
}
.kitten {
    border:3px solid black;
    height:275;
    width:75;
    float:right;
}