body {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.mainnav {
  margin-left: 250px;
}

.mainnav span{
  display: inline-block;
  padding: 2.5em;
}

.logo {
  margin-top: 50px;
  float:left;
}

.facebook {
  margin-top: 20px;
  float:left;
  clear:left;
}

.twitter {
  margin-top: 19px;
  float:left;
  float:left;
}

.home {
  background-color: #F78C2A;
}

.ourstory {
  background-color: #01A7E1;
}

.contactus {
  background-color: #FFE70B;
}

.events {
  background-color: #EC1676;

}

.blog {
  background-color: #7674B5;
}

.podcast {
  background-color: #6FBF4C;
}

.search {
  background-color: gray;
}

h2 {
  text-align: center;
}

.tagline {
  width: 1000px;
  float: right;
  margin-top: 100px;
}

.examplemap {
  margin-top: 100px;
  display: inline-block;
}

.searcharea {
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
  text-align: center;
  margin-right: 100px;
  font-size: 20px;
  float: right;
}

h5 {
  text-align: center;
  font-size: 50px;
}
.box {
  border: 3px solid black;
  width:200;
  background-color:;
}

.box2 {
  border: 3px solid black;
  width: 49.51%;
  float: left;
  background-color:;
}